.slider {
    position: relative;
  }
  .slider__arrow-left {
    background-clip: content-box;
    padding: 20px 0;
    box-sizing: border-box;
    transition: 400ms all ease-in-out;
    cursor: pointer;
    width: 80px;
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex; /*flex-container로 설정 */
    align-items: center; /*flex item을 container의 수직방향의 중앙에 정렬*/
    justify-content: center; /*flex container의 중앙 정렬*/
    visibility: hidden;
  }
  
  .slider__arrow-right {
    background-clip: content-box;
    padding: 20px 0;
    box-sizing: border-box;
    transition: 400ms all ease-in-out;
    cursor: pointer;
    width: 80px;
    z-index: 1000;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden; /*요소를 감추고 있지만 자리 유지 */
  }
  
  .arrow {
    transition: 400ms all ease-in-out;
  }
  .arrow:hover {
    transition: 400ms all ease-in-out;
    transform: scale(1.5);
  }
  
  .slider:hover .slider__arrow-left {
    transition: 400ms all ease-in-out;
    visibility: visible;
  }
  
  .slider:hover .slider__arrow-right {
    transition: 400ms all ease-in-out;
    visibility: visible;
  }
  
  .slider__arrow-left:hover {
    background: rgba(20, 20, 20, 0.5);
    transition: 400ms all ease-in-out;
  }
  .slider__arrow-right:hover {
    background: rgba(20, 20, 20, 0.5);
    transition: 400ms all ease-in-out;
  }
  
  .row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px 0 20px 20px;
    scroll-behavior: smooth;
  }
  
  .row__posters::-webkit-scrollbar {
    display: none;
  }
  .row__poster {
    object-fit: contain;
    width: 100%;
    max-height: 144px;
    margin-right: 10px;
    transform: transform 450ms;
    border-radius: 4px;
  }
  
  .row__poster:hover {
    transform: scale(1.08);
  }
  
  @media screen and (min-width: 1200px) {
    .row__poster {
      max-height: 160px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .row__poster {
      max-height: 280px;
    }
  }







  /* import styled from 'styled-components';

export const Slider = styled.div`
  position: relative;
`;

export const SliderArrowLeft = styled.div`
  background-clip: content-box;
  padding: 20px 0;
  box-sizing: border-box;
  transition: 400ms all ease-in-out;
  cursor: pointer;
  width: 80px;
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;

  &:hover {
    background: rgba(20, 20, 20, 0.5);
  }
`;

export const SliderArrowRight = styled.div`
  background-clip: content-box;
  padding: 20px 0;
  box-sizing: border-box;
  transition: 400ms all ease-in-out;
  cursor: pointer;
  width: 80px;
  z-index: 1000;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;

  &:hover {
    background: rgba(20, 20, 20, 0.5);
  }
`;

export const Arrow = styled.div`
  transition: 400ms all ease-in-out;

  &:hover {
    transform: scale(1.5);
  }
`;

export const RowPosters = styled.div`
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px 0 20px 20px;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
`;

export const RowPoster = styled.img`
  object-fit: contain;
  width: 100%;
  max-height: 144px;
  margin-right: 10px;
  transition: transform 450ms;
  border-radius: 4px;

  &:hover {
    transform: scale(1.08);
  }

  @media screen and (min-width: 1200px) {
    max-height: 160px;
  }

  @media screen and (max-width: 768px) {
    max-height: 280px;
  }
`;

// 슬라이더의 화살표가 보이도록 하는 스타일
export const SliderHover = styled(Slider)`
  &:hover ${SliderArrowLeft}, 
  &:hover ${SliderArrowRight} {
    visibility: visible;
  }
`; */
